a { color: #3399CC; }

body { background: rgb(245, 245, 234); }

nav {
    height: 100%; float: left;
    padding-right: 100px;
    padding-bottom: 100px;
    border-right: solid 1px #111111;
}

nav > ul { list-style-type: none; }

footer {
    position: absolute;
    bottom: 10px; right: 10px;
}

section {
    position: absolute;
    left: 300px;
}
