.DS_Store
.dropbox
Icon?
_exercises/*/*.html
blog/public
book/convert_html
book/preview
documentation/out
html_css/*.html
readme/*.html
readme_landslide/*.html
readme_markdownpresenter/*.html
readme_mdpress/preso
scalaslide/project/target
scalaslide/project/project/target
scalaslide/target*
website/_site
wiki/.html
wiki/.tmp
