.DS_Store
.dropbox
Icon?
blog/public
blog/.sass-cache
book/convert_html
documentation/out
html_css/*.html
readme/*.html
readme_landslide/*.html
readme_markdownpresenter/*.html
readme_mdpress/preso
readme_preso/static
scalaslide/project/target
scalaslide/project/project/target
scalaslide/src/test
scalaslide/target*
website/_site
wiki/.html
wiki/.tmp
