body {
	font-size: 16px;
}

h1 {
	color: #f00;
	font-family: Verdana;
}

h2 {
	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	transform:rotate(-180deg);
	ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	direction: rtl;
}

h6 {
	text-align: center;
	font-size: 16px;
	font-weight: normal;
}